/*
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#d5e1ef;
    text-align: center;
}
.ext-box
{
    display: flex;
    width: 300px;
    height: 470px;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 26px;
}
.QR-CODE-IMG
{
    margin-top: 15px;
    width: 275px;
    border-radius: 16px;
}
.paragraph-2
{
    margin: 20px;
    font-size:  15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: hsl(218, 44%, 22%);
}
.paragraph-1
{
    font-size:  20px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    margin: 20px;
    color: hsl(218, 44%, 22%);

}
